<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" class="no-js"> <!--<![endif]-->
<html>
{{#data}}
<head>
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
	<title>Derrick Showers | Web Developer</title>
	<meta name="description" content="">
	<meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=10.0,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- Favicon and iOS icons -->
	<link rel="apple-touch-icon" href="/img/apple-touch-icon-57x57-precomposed" />
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed" />
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed" />
	<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed" />
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>

	<script data-main="/js/main" src="/js/libs/require.js"></script>
	<script data-main="/js/main" src="/js/main.js"></script>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/style.css">
	
</head>
<body id="{{{id}}}">

	<header>
		<div class="container">
			<a href="/"><img id="logo" alt="Company Logo" src="/img/logo_400x267_darkBg.png" /></a>
			<nav>
				<ul>
					<li><a id="menu-about" href="/about/">Who Is This?</a></li>
					<li><a id="menu-portfolio" href="/portfolio/">Portfolio</a></li>
					<li><a id="menu-contact" href="/contact/">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="outer-container">
		{{{../body}}}
	</div>

	<footer>
		<div class="container">
			<ul>
				<li><a class="social-icon" target="_blank" href="http://twitter.com/derrickshowers">&#xe286;</a></li>
				<li><a class="social-icon" target="_blank" href="http://linkedin.com/in/derrickshowers">&#xe252;</a></li>
				<li><a class="social-icon" target="_blank" href="http://github.com/derrickshowers">&#xe237;</a></li>
				<li><a class="social-icon" href="/contact">&#xe224;</a></li>
				<li class="copyright">&copy;2014 derrickshowers.com. All Rights Reserved.</li>
			</ul>
		</div>
	</footer>

	{{{footerScripts}}}

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		var _gaq=[['_setAccount','UA-26064669-1'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

{{/data}}
</body>
</html>