body		{font-family: Verdana, Arial, sans-serif;}
h1			{font:46px/46px BebasNeueRegular, Verdana, Arial, sans-serif; text-transform:uppercase; color:#1C3664;}
h2			{font:38px/38px BebasNeueRegular, Verdana, Arial, sans-serif; text-transform:uppercase; color:#1C3664;}
h3			{font:32px/32px BebasNeueRegular, Verdana, Arial, sans-serif; text-transform:uppercase; color:#1C3664;}
h4			{font:26px/26px BebasNeueRegular, Verdana, Arial, sans-serif; text-transform:uppercase; color:#1C3664;}
h5			{font:21px/21px BebasNeueRegular, Verdana, Arial, sans-serif; text-transform:uppercase; color:#1C3664;}
h6			{font:18px/18px BebasNeueRegular, Verdana, Arial, sans-serif; text-transform:uppercase; color:#1C3664;}
p			{font-size:14px/20px; color:#333;}
a			{color:#1C3664;}

ul			{margin:1em 0}

html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #1C3664;
}

.headingArea {
	margin:40px 20px;
}
.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0;
}
.outer-container {
  width: 100%;
  background-color: #FFF;
  .container {
    padding-top: 60px;
  }
}
.left {
	float: left;
}
.right {
	float: right;
}
.noBullet {
	list-style: none;
	padding: 0;
}
.hideText {
	position: absolute;
	text-indent: -9999px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}