#blog {
	#sidebar {
		width: 20%;
		float: left;
		
		aside {
			margin: 0 20px 40px;
			
			ul {
				list-style: none;
				padding: 0;
			}
			
		}
		
	}
	#posts {
		margin-top: 40px;
		width: 80%;
		padding: 0 4%;
		float: right;
	}
	.post {
		margin-bottom: 70px;
	}
	.entry-title {
		padding-bottom: 5px;
		border-bottom: 1px solid #999;
	}
	.entry-thumbnail {
		margin-bottom: 20px;
		
		img { 
			border-radius: 10px;
			max-width: 95%;
		}
	}
	.entry-content {
		margin-bottom: 20px;
	}
}
#blogSingle {
	article {
		margin: 40px 20px 70px;
	}
	#comments {
		margin: 0 20px 70px;
	}
	.entry-content {
		margin-bottom: 50px;
		img {
			margin-bottom: 50px;
		}
		img.size-full {
			max-width: 95%;
		}
	}
}

.comments-exist {
	background-color: #EDEDED;
	border-radius: 20px;
	padding: 20px;
	border: 1px solid #1C3664;
}
#comments {
	.comment-list {
		list-style: none;
	}
}
.post {
	.icon-blue {
		background-image: url(../img/glyphicons-halflings-blue.png);
	}
	#statusIndicators {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			float: left;
			width: 33%;
			padding: 0 0 15px;
			p {
				float: left;
				line-height: 15px;
				padding-left: 10px;
				color: #1C3664;
			}
			i {
				float: left;
			}
		}
	}
	.fbIcon {
		width: 15px; height: 15px;
		float: left;
		padding-right: 5px;
		margin-top: 1px;
		background: url(../img/social_icons.png) no-repeat 0 0;
	}
	.twitterIcon {
		width: 15px; height: 15px;
		float: left;
		padding-right: 5px;
		margin-top: 1px;
		background: url(../img/social_icons.png) no-repeat 0 -15px;
	}
}
#commentModal {
	form {
		margin: 0;
		
		textarea {
			width: 85%;
		}
		
		.comment-form-email,
		.comment-form-author {
			float: left;
		}
		
		.comment-form-email {
			padding-left: 25px;
		}
		
		.comment-form-url {
			clear: left;
		}
	}
}
.screenshot-shadow {
	box-shadow: 2px 2px 4px #333;
}