#home article {
	margin: 40px 20px 100px;
}
#home article section {
	width: 48%;
	line-height: 25px;
}

#contact #contactInfo {
	width: 31%; height: 495px;
	position: relative;
	padding: 15px 2%;
	margin: 0 0 150px 0;
	background: url(../img/contact_aSpot.jpg) no-repeat #333;
	-o-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}
#contact #contactInfo h3,
#contact #contactInfo h6,
#contact #contactInfo p {
	color: #FFF;
}
#contact #contactInfo h6 {
	margin: 30px 0 0;
}
#contact #contactInfo p {
	margin: 5px 0;
	line-height: 20px;
}
#contact #contactInfo a {
	color: #FFF;
	text-decoration: none;
}
#contact #contactInfo a:hover {
	text-decoration: underline;
}
#contact fieldset {
	width: 68%;
	padding: 15px 2% 50px;
	position: relative;
}
#contact fieldset textarea,
#contact fieldset input,
#contact fieldset #subject {
	padding: 8px 5px;
	font-size: 14px;
	color: #999;
	border: 1px solid #999;
	display: block;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#contact fieldset input {
	width: 275px;
	margin: 20px 0;
}
#contact fieldset textarea {
	width: 90%; height: 235px;
	margin: 0 0 20px;
	resize: none;
}
#contact fieldset #subject {
	width: 275px;
    background-color: #FFFFFF;
    list-style: none outside none;
    position: relative;
    margin: 0 0 20px;
    line-height: 16px;
}
#contact fieldset #arrowDown {
    top: 0;right: 0;
    cursor: pointer;
    position: absolute;
}
#contact fieldset #subjectOptions {
    top: 33px; left: -1px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    -o-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#contact fieldset #subjectOptions li {
    background-color:  #FFFFFF;
    color: #999;
    display: block;
    height: 30px;
    padding-left: 5px;
    width: 280px;
	line-height: 30px;
}
#contact fieldset #subjectOptions li:hover {
    background-color: #455CA0;
    cursor: pointer;
}	
#contact fieldset .errorBorder {
	border: 1px solid red !important;
}
#contact #submitted {
	top: 150px; left: 0;
	width: 100%; height: 75%;
	position: absolute;
	background-color: #FFF;
	z-index: 10;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#contact #submittedText {
	top: 125px; left: 3%;
	line-height: 30px;
	position: absolute;
	z-index: 15;
}
#contact #processing {
	color: #333;
	margin-left: 10px;
	font-size: 11px;
}
#contact #thankYouMsg {
	width: 500px;
	float: left;
	color: #333;
	margin: 30px;
	line-height: 30px;
}