@media screen and (max-width: 960px) {
	header #headerLine {
		width:90%;
	}
	#home #dsCarouselContainer {
		display:none;
	}
}
@media screen and (max-width: 758px) {
	#home article section {
		float:none;
		width:100%;
		margin-bottom:20px;
	}
	#contact #contactInfo {
		width:100%;
		height:auto;
		margin:0;
	}
	#contact fieldset {
		width: 96%;
	}
	#resume {
		display:none;
	}
	#about #smallScreenResume {
		display:block;
		padding:0 2.5% 50px;
	}
}
@media screen and (max-width: 600px) {
	header {
		top:30px;
		height:90px;
		position:relative;
		margin-bottom: 30px;
		
		#social {
			top: 4px;
			display: block;
			z-index: 1001;
		}	
	}
	header #logo {
		max-width: 100px;
		margin-left: -50px;
		left: 50%;
	}
	header nav {
		height:30px; width:100%;
		top:-30px; right:0;
		background-color:#1C3664;
		font-size:20px;
		background-image: none;
	}
	header nav a {
		line-height:30px;
	}
	header nav li:hover a {
		color:#FFF;
	}
	header nav ul {
		height:30px;
		padding:0;
		margin:0;
	}
	header nav li {
		padding: 0 5px;
	}
	header nav li:hover {
		background: none;
	}
	header nav .current-menu-item a,
	header nav .current_page_parent a {
		color:#455CA0;
	}
	.outer-container {
		.container {
			padding-top: 0;
		}
		.global-alert {
			top: 0;
			line-height: 20px;
		}
	}
	#contact #submitted {
		top:165px;
	}
	#contact #submittedText {
		top:160px;
	}
	.cd-dropdown {
		display:none !important;
	}
	#commentModal {

    	form {
    		.comment-form-email {
				padding-left: 0;
			}
			.comment-form-url,
			.comment-notes {
				display: none;
			}
			#comment {
				height: 75px;
			}
		}
    	
	}
	footer .left {
		display:none;
	}
	footer .right{
		float:none;
	}
	footer ul {
		text-align: center;
	}
	#sidebar,
	#statusIndicators {
		display: none;
	}
	#blog #posts {
		width: 90%;
	}
	#portfolioGrid li {
		float: none !important;
		width: 95% !important;
	}
}