{{#if data.alert}}
	<div class="global-alert">{{{data.alert}}}</div>
{{/if}}
<div class="container">
	<div class="headingArea">
		<h1>{{{data.heading}}}</h1>
		<p>{{{data.copy.0.}}}</p>
		<p>{{{data.copy.1.}}}</p>
	</div>
	<div id="resume" class="clearfix">
		<div id="resumeHeading">
			<img id="resumeLogo" alt="Company Logo" src="/img/resume_logo.png" />
			<ul id="resumeContactInfo">
				<li><h2>Derrick Showers</h2></li>
				<li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:derrick.showers@me.com">derrick.showers@me.com</a></li>
				<li><span class="glyphicon glyphicon-phone-alt"></span> 407.756.0916</li>
				<li><span class="glyphicon glyphicon-link"></span> <a href="http://derrickshowers.com">http://derrickshowers.com</a></li>
			</ul>
		</div>
		<div id="resumeExperience">
			<article class="borderBelow">
				<aside><h3>Present</h3><p class="gray">Since Aug ‘13</p></aside>
				<section>
					<h4>Supervisor, Web Development</h4>
					<p class="lightItalics">eBay Enterprise</i></p>
					<p>Actively engaged in a leadership role in many different functions, including, but not limited to: scoping new project requests, pitching technology to new and existing clients, mentoring and coaching a team of developers in bi-coastal locations, and recommending different and innovative ways of implementing technology.</p>
				</section>
			</article>
			<article class="borderBelow">
				<aside><h3>2013</h3><p class="gray">Since Dec ‘11</p></aside>
				<section>
					<h4>Web Developer</h4>
					<p class="lightItalics">True Action, an eBay Inc. Company</i></p>
					<p>Mastered coding under pressure, with tight deadlines. Projects included a wide-range of clients on a massive e-commerce platform. Clients include PetSmart, Toys 'R Us, Dollar General, Levi's, Docker's, and many others.</p>
				</section>
			</article>
			<article class="borderBelow">
				<aside><h3>Present</h3><p class="gray">Since ‘06</p></aside>
				<section>
					<h4>Freelance Web Developer</h4>
					<p class="lightItalics">derrickshowers.com</i></p>
					<p>Excited, energetic, and eager to learn new technologies that enable the building of robust websites and web applications.
					<p>A full stack developer - exposure to all aspects of a project ranging from the client relationship itself to creative/design and sever administration.</p>
				</section>
			</article>
		</div>
		<div id="resumeSkills">
			<article class="borderBelow">
				<h3>Who Am I?</h3>
				<section>
					<p>A web developer who is passionate about all aspects of technology, quick-learning, works great on a team and never afraid to learn or try something new.</p>
				</section>
			</article>
			<article class="borderBelow">
				<h3>Education</h3>
				<section>
					<h4>DeVry University</h4>
					<p class="noPaddingBelow">Associate of Science, Web Graphic Design</p>
					<p class="lightItalics">Graduated 2011</p>
				</section>
				<section>
					<h4>Pennsylvania State University</h4>
					<p class="noPaddingBelow">Bachelor of Arts, Communications</p>
					<p class="lightItalics">Graduated 2006</p>
				</section>
			</article>
			<article>
				<h3>Competencies</h3>
				<section>
					<h4>HTML &amp; CSS</h4>
					<p>Expert in HTML5 and CSS3 - proponent of semantic HTML. Exposure to CSS preprocessors (LESS and SASS).</p>
				</section>
				<section>
					<h4>JavaScript</h4>
					<p>Experienced with frameworks such as jQuery and Prototype. Experimented with many others including: AngularJS and Backbone.js, Comfortable with plain JavaScript, AJAX and JSON.</p>
				</section>
				<section>
					<h4>Java/PHP/Python/Ruby</h4>
					<p>Worked heavily with JSP (and JSTL). Most freelance work utilizes PHP. Educational classes and side projects have involved Ruby on Rails and Django (Python).</p>
				</section>
				<section>
					<h4>Others</h4>
					<ul id="resumeSkillsOther" class="clearfix">
						<li>Photoshop</li>
						<li>Drupal</li>
						<li>Social Media</li>
						<li>Illustrator</li>
						<li>MySQL</li>
						<li>Mac/Linux</li>
						<li>WordPress</li>	
						<li>GIT/CVS/SVN</li>
					</ul>
				</section>
			</article>
		</div>
		<p id="resumeFooter">References available upon request.</p>
		<a id="download" href="/docs/derrickshowers_resume.pdf" target="_blank">Download PDF</a>
	</div>
	<a id="smallScreenResume" href="/docs/derrickshowers_resume.pdf" target="_blank">See Full Resume (.pdf)</a>
</div>