<img alt="Steve Jobs Quote" id="aSpot" src="/img/home_aSpot.jpg" />
<article class="clearfix">
	<h1>{{{data.heading}}}</h1>
	<section class="left">{{{data.copy.0.}}}</section>
	<section class="right">{{{data.copy.1.}}}</section>
</article>