<div class="headingArea">
	<h1>{{{data.heading}}}</h1>
	{{#each data.copy}}
	<p>{{{this}}}</p>
	{{/each}}
</div>
<ul id="portfolioGrid" class="clearfix">
	<li>
		<a class="imgPortfolioLink" href="http://www.petsmart.com" target="_blank" title="PetSmart">
			<img alt="PetSmart" src="/img/portfolio/petsmart.jpg" />
		</a>
		<h5>PetSmart Redesign</h5>
		<p>Redesign to homepage, category pages, family pages, header and footer. Completed in June 2012.</p>
		<a class="checkItOut" href="http://www.petsmart.com" target="_blank" title="PetSmart">Check It Out</a>
	</li>
	<li>
		<a class="imgPortfolioLink" href="http://trueaction.com" target="_blank" title="Trueaction.com">
			<img alt="Trueaction.com" src="/img/portfolio/trueaction.jpg" />
		</a>
		<h5>Trueaction.com</h5>
		<p>True Action's marketing site. Responsible for 95% of the development and deployment of the site.</p>
		<a class="checkItOut" href="http://trueaction.com" target="_blank" title="Trueaction.com">Check It Out</a>
	</li>
	<li>
		<a class="imgPortfolioLink" href="http://www.petsmart.com/foodselector" target="_blank" title="PetSmart Food Selector">
			<img alt="PetSmart Food Selector" src="/img/portfolio/petsmartfoodselector.jpg" />
		</a>
		<h5>PetSmart Food Selector</h5>
		<p>Built most of the functionality (JavaScript and JSP), and about 50% of the front end markup and CSS. Completed in November of 2012.</p>
		<a class="checkItOut" href="http://www.petsmart.com/foodselector" target="_blank" title="PetSmart Food Selector">Check It Out</a>
	</li>
	<li>
		<a class="imgPortfolioLink" href="http://zoomrotate.dev.derrickshowers.com" target="_blank" title="Zoom Rotate Prototype">
			<img alt="Zoom Rotate Prototype" src="/img/portfolio/zoomrotate.jpg" />
		</a>
		<h5>Zoom/Rotate Prototype</h5>
		<p>JavaScript/jQuery prototype that was built for 360 degrees rotation, as well as zoom and drag. Works on mobile devices as well!</p>
		<a class="checkItOut" href="http://zoomrotate.dev.derrickshowers.com" target="_blank" title="Zoom Rotate Prototype">Check It Out</a>
	</li>
	<li>
		<a class="imgPortfolioLink" href="http://sonycheckout.dev.derrickshowers.com/payment.html" target="_blank" title="Sony Checkout">
			<img alt="Sony Checkout" src="/img/portfolio/sonycheckout.jpg" />
		</a>
		<h5>Sony Cart &amp; Checkout</h5>
		<p>One of the first projects completed at True Action. HTML/CSS/JS shells for a redesign of cart and checkout for Sony.</p>
		<a class="checkItOut" href="http://sonycheckout.dev.derrickshowers.com/payment.html" target="_blank" title="Sony Checkout">Check It Out</a>
	</li>
	<li>
		<a class="imgPortfolioLink" href="http://housefinder.derrickshowers.com" target="_blank" title="Housefinder">
			<img alt="Housefinder" src="/img/portfolio/housefinder.jpg" />
		</a>
		<h5>Housefinder</h5>
		<p>An app using HTML/CSS/JS/PHP. Uses AJAX to enable features such as "liking", adding comments, etc. Data pulled from another site, turns the markup into a JSON object, and caches it on the server.</p>
		<a class="checkItOut" href="http://housefinder.derrickshowers.com" target="_blank" title="Housefinder">Check It Out</a>
	</li>
	<li>
		<a class="imgPortfolioLink" href="http://tmosher.com" target="_blank" title="Tricia Mosher">
			<img alt="Tricia Mosher" src="/img/portfolio/tmosher.jpg" />
		</a>
		<h5>Tricia Mosher</h5>
		<p>A Wordpress site completed for a friend. Simple, but uses a completely custom Wordpress theme. I built the site from scratch, including all of the design work.</p>
		<a class="checkItOut" href="http://tmosher.com" target="_blank" title="Tricia Mosher">Check It Out</a>
	</li>
	<li>
		<a class="imgPortfolioLink" href="http://www.paypal-promotions.com" target="_blank" title="PayPal Promotions">
			<img alt="PayPal Promotions" src="/img/portfolio/paypal.jpg" />
		</a>
		<h5>PayPal Promotions</h5>
		<p>Tech lead for this project, which was launched in November of 2013. Nine page microsite for PayPal.</p>
		<a class="checkItOut" href="http://www.paypal-promotions.com" target="_blank" title="PayPal Promotions">Check It Out</a>
	</li>
	<li>
		<img alt="Updates" src="/img/portfolio/updates.jpg" />
		<h5>Updates, Updates, Updates</h5>
		<p>At eBay Enterprise/True Action, I completed projects for many well-known clients, including: Levi's, Aeropostale, Kenneth Cole, Haggar, Toys R Us, Mattel, Dick's Sporting Goods, and many others.</p>
	</li>
</ul>